* {
    box-sizing: border-box;
}

.main {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    
    > * {
        margin: 1rem 0;
    }
}

header,
.box,
footer {
    background-color: #c0c0c0;
}

header {
    padding: 1rem;
    overflow: auto;
    
    .logo {
        float: left;
        
        font-weight: bold;
    }
    nav {
        float: right;
    }
}

main > *{
    margin: 1rem 0;
}

.upper {
    width: 100%;
    background-color: blue;
    box-sizing: border-box;
    overflow: auto;
    
    .box {
        float: left;
        box-sizing: border-box;
        margin-right: 1rem;
        width: calc((100% - 4rem)/ 4);
        height: 2rem;
        /* border: 1px solid; */
    }
}