* {
    box-sizing: border-box;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f2f2f2;
    
    > * {
        margin: 1rem 0;
    }
}

header,
.box,
footer {
    background-color: #c0c0c0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
    .logo {
        flex-basis: 50%;
        font-weight: bold;
    }
    nav {
        flex-basis: 50%;
    }
}

main > *{
    margin: 1rem 0;
}

.upper {
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    /* row-gap: 1rem; */
    
    .box {
        /* width: calc(100% / 4 - 1rem); */
        flex: 1 0 calc(100% / 4 - 1rem);
        height: 4rem;
    }
}

.lower {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
    .box {
        /* flex-basis: calc(100% / 3 - 1rem); */
        flex-grow: 1;
        height: 6rem;
        font-weight: bold;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

footer {
    height: 2rem;
    text-align: center;
    align-content: center;
}