* {
    box-sizing: border-box;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f2f2f2;

    >* {
        margin: 1rem 0;
    }
}

header,
.box,
footer {
    background-color: #c0c0c0;
}

header {
    padding: 1rem;
    overflow: auto;

    .logo {
        width: 50%;
        float: left;

        font-weight: bold;
    }
}

main {
    overflow: hidden;
}

.upper {
    width: calc(100% + 1rem);
    /* background-color: blue; */
    box-sizing: border-box;
    overflow: auto;

    .box {
        float: left;
        box-sizing: border-box;
        margin: 0 1rem 1rem 0;
        width: calc((100% - 4rem)/ 4);
        height: 4rem;
        /* border: 1px solid; */
    }
}

.lower {
    /* background-color: red; */
    width: calc(100% + 1rem);
    overflow: auto;
    gap: 1rem;

    .box {
        float: left;
        text-align: center;
        width: calc((100% - 3rem) / 3);
        margin-right: 1rem;
        height: 6rem;
        font-weight: bold;

        /* padding-top: calc((4rem - 1rem)/2); */
        align-content: center;
    }
}

footer {
    height: 2rem;
    text-align: center;
    align-content: center;
}