body {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: lightgray;
    padding: 1rem;
    text-align: center;
}


.logo, header, aside, footer, .content  {
    box-sizing: border-box;
    background-color: white;
    font-weight: bold;
    padding: 1rem;
    border: 1px solid black;
}

main {
    margin: 1rem 0;
}

.content {
    margin: 1rem 0;
    min-height: 300px;
}

aside {
    float: left;
    width: 30%;
    min-height: 400px;
    background-color: lightgray;
}

article {
    float: right;
    width: calc(100% - 30% - 1rem)
}

header {
    min-height: calc(400px - 300px - 1rem);
}

footer {
    clear: both;
}